@media only screen and (min-width: 768px) and (max-width: 991px) {
    #menu {
        height: 100px;
        padding: 25px 0px 0px 0px;
        background-color: #556270;
    }
    #menu a {
        text-decoration: none;
    }
    .a1 li {
        font-size: 15px;
        padding-right: 40px;
        text-decoration: none;
        float: left;
        list-style-type: none;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        display: flex;
    }
    .a2 li {
        font-size: 15px;
        padding-right: 40px;
        float: right;
        list-style-type: none;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        display: flex;
    }
    #menu a:link {
        color: rgb(255, 255, 255);
    }
    #menu a:visited {
        color: rgb(66, 66, 66);
    }
    #menu a:hover {
        color: rgb(70, 255, 162);
        }
    #menu a:active {
        color: red;
    }
    #banner {
        width: 94%;
        padding: 0% 0% 0% 3%;
    }
    #banner img {
        width: 100%;
        height: 0px;
        border-top: 2px #dbdbdb solid;
    }
    #banner h1 {
        padding-top: 20px;
        top: 10px;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
    }
    #banner p {
        top: 5px;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
    }
    #ct {
        padding: 2% 2% 2% 2%;
    }
    #ct h2 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0% 0% 4% 4%;
    }
    #ct p {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin: -5% 0% 4% 4%;
    }
    [class*="col-"] {
        float: left;
        padding: 3% 2% 3% 2%;
    }
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    #ct img {
        width: 100%;
        height: auto;
    }
    .invite {
        margin-top: -6%;
    }
    #ft {
        background-color: #ffffff;
        padding: 4% 4% 4% 4%;
    }
    #ft h3 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #ft p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    #ft a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
    #ft a:link {
        color: rgb(19, 121, 255);
    }
    #ft a:visited {
        color: rgb(19, 121, 255);
    }
    #ft a:hover {
        color: rgb(70, 255, 162);
        }
    #ft a:active {
        color: red;
    }
    .hp-1 {
        width: 100%;
        padding-left: 3%;
        display: inline-block;
    }
    .hp-1 a:link {
        color: rgb(19, 121, 255);
    }
    .hp-1 a:visited {
        color: rgb(19, 121, 255);
    }
    .hp-1 a:hover {
        color: rgb(70, 255, 162);
        }
    .hp-1 a:active {
        color: red;
    }
    .br-1 {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        background-color: #efefef;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
    }
    .br-1 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .br-1 a:link {
        color: rgb(19, 121, 255);
    }
    .br-1 a:visited {
        color: rgb(19, 121, 255);
    }
    .br-1 a:hover {
        color: rgb(70, 255, 162);
        }
    .br-1 a:active {
        color: red;
    }
}